*{
   margin: 0;
   padding: 0;
}

.menu{
    background-color: red;
}
.menu ul{
    text-align: center;
}
.menu ul li{
    display: inline-block;
    border-left: 1px solid black;
}
.menu ul li:last-child a{
    border-right: 1px solid black;
}
.menu ul li a{
    color: black;
    text-decoration: none;
    padding: 15px 25px;
    display: inline-block;

    margin-right: -4px;
    transition: 0.4s;
}
.menu ul li a:hover{
    background-color: darkgoldenrod;
}



/* dropdown menu start */

.menu ul li{
    position: relative;
}
.menu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    background-color: black;
}
.menu ul li ul li{
    display: block;
    margin: 0;
    border: none;
}
.menu ul li ul li a{
    border: none;
    display: block;
    color: antiquewhite;
    margin-right: 0;
    border-bottom: 1px solid white;
    
    
}

.menu ul li ul li:first-child a{
    border-top: 1px solid white;
}


.menu ul li:last-child a{
    border: none;
}


.menu ul li ul{
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left center;
    transition: 0.4s;
}

.menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}
.menu ul li ul li a:hover{}



